/* @font-face {
  font-family: Lato;
  src: url('../font/Lato-Regular.ttf');
} */

/* CLEAR */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* BASE */


body.rtl {
  direction: rtl;
}

h1 {
  margin: 0 auto;
  font-size: 2.2rem;
  /* text-transform: uppercase; */
  padding: 5px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  text-rendering: optimizeLegibility;
  color: #ececec; /*#e0dfdc;*/
  background-color: #0a0a0a;
  box-shadow: inset 0 -6px 0 #1e1e1e;
}

a {
  text-decoration-line: none;
  color: white;
}

button {
  margin: 0.5rem 0.5rem;
  padding: 1em;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #8833aa;
  outline: none;
  font-family: cursive;
}

button:hover {
  cursor: pointer;
  color: #8833aa;
  border-color: currentColor;
  background-color: white;
}

img {
  width: 200px;
  margin: 10px 10px;
  align-content: flex-start;
  object-fit: cover;
  transition: transform 0.2s ease-out;
  border-radius: 20px;
  /* height: 200px; */
  /* border: 2px solid rgb(54, 53, 53); */


}

.img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.4ms;
}



/* MAIN ISSUE */

#my-canvas {
  border: 1px solid #000000;
  margin-top: 10px;
}

/* CLASS & IDs */

.main-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.canvas-container {
  display: flex;
}



.aditor-container {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 250px;

}

input.search {
  font-size: 1.3rem;
  height: 40px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  font-family: cursive;
}

.select-lang{
  margin: 0 1rem;
  height: 2rem;

}

.button-container {
  display: flex;
  margin-bottom: 30px;

}

.button-container>button {
  margin: 0 0.1rem;
}


.meme-fields.meme-text-fields {
  margin-top: 20px;
  margin-bottom: 5px;
  border: 1px solid #8833aa;
  resize: vertical;
  overflow-y: hidden;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  height: 50px;
  width: 500px;
  color: #fff;
  font-family: impact, sans-serif;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.searching {
  margin-top: 15px;
  text-align: center;
  justify-items: center;
  align-items: center;
}



.select-color {
  height: 30px;
  background-color: #8833aa;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}



.impact {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.courier-New {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.Pacifico {
  font-family: 'Pacifico', cursive
}

#size {
  margin: 10px;
  color: black;
}

.about-us {
  text-align: center;
  padding: 5px;
  height: 200px;
  background-color: rgb(70, 44, 77);
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
}

.about-us img {
  border-radius: 100px;
  height: 150px;
  width: 150px;
  border: 2px solid #c7c2c2;
  
  
}

.chen {
  display: flex;
  text-align: left;
  width: 50%;
}

.niv {
  display: flex;
  text-align: left;
  width: 50%;
}

.about-us h2 {
  color: #c7c2c2;
  margin-top: 30px;
  font-family: fantasy;
  font-size: 1.3rem;
}

.about-us p {
  color: #c7c2c2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}
.contact-us{
  background-color: #333;
  box-shadow: inset 0 6px 0 #1e1e1e;
  /* margin: 0 auto; */
  text-align: center;
  /* padding-left: 100px; */
  padding-top: 40px;
  padding-bottom: 50px;
}
.contact-us h2{
  font-family: 'Pacifico', cursive;
font-size: 2rem;

}
.contact-us h3{
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 10px;
}
.contact-us p{
  font-size: 1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 7px;
  padding-top: 7px;

}

.contact-us input{
  width: 370px;
  height:35px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid  rgb(51, 50, 50);
  font-size: 0.9rem;
}

.contact-us .input-text{
  height: 100px;
  margin-bottom: 10px;
}

.keyword-search{
  margin-top: 20px;
  background-color: #8833aa;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  /* flex-direction: column; */
}
.keyword{
  font-family: 'Pacifico', cursive;
  cursor: pointer;
}
.uploud{
  width: 180px;
}
.publish{
  background-color: rgb(21, 21, 168)
}

@media (max-width:740px) {
  
  .about-us {
    flex-wrap: wrap;
    height: 380px;
    
  }
  
  .chen {
    width: 100%;
  }
  
  .niv {
    width: 100%;
  }

  .second-container {
    flex-wrap: wrap
  }

  canvas {
    width: 90%;
    height: 90%;
  }

  .aditor-container {
    width: 100%;
  }

  img {
    width: 160px;
  }
  .about-us img {
    height: 100px;
    width: 100px;
    
  }
 body{
   margin: 0;
 }
}